<!doctype html>
<html>

<head>
  <meta charSet="utf-8" />
  <title>管理平台</title>
  <style>
    #root {
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="root">载入中...</div>
</body>

</html>